* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px 20px ;
}

main {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.nav {
    display: flex;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #000;
}

.nav-item:hover {
    background-color: gray;
}

.content-title {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.content-left {
    box-sizing: border-box;
    width: 50%;
}

.button {
    display: flex;
    border: 1px solid #000;
    background: rgb(38, 41, 41);
    color: white;
    padding: 10px 0px;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
}
.button:hover {
    background-color: #000;
    color: gray;
}

.content-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: lightgray;
}

input {
    margin-bottom: 10px;
    padding: 8px 2px;
}

select {
    padding: 8px 2px;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 60%;
}

.content-image span {
    color: gray;
}

.circle {
    display: flex;
    justify-content: center;
    background: lightgray;
    border-radius: 50%;
    width: 1.2em;
}

.rectangle {
    background-color: lightgray;
    height: 100px;
    text-align: center;
    padding: 50px;
}

.right-list {
    text-align: right;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.call {
    background-color: black;
}

button {
    background-color: #000;
    color: white;
    padding: 10px;
}

.closing {
    text-align: center;
}

.package ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.package li {
    display: inline-block;
    margin-right: 50px;
}

.package2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.package2 li {
    display: inline-block;
    margin-right: 50px;
}

.circle1 ul {
    list-style: none;
    padding: 0;
    margin: 0
}

footer {
    text-align: center;
}